<ion-header>
  <ion-navbar>

      <ion-item no-lines style="padding: 0px">
        <ion-title>Home</ion-title>
        <ion-icon item-end name='clipboard' (click)='onClickOpenList()'></ion-icon>
      </ion-item>

    </ion-navbar>
  </ion-header>
  
<ion-content padding>
  <span [innerHtml]='connectToBluetooth'></span>

  <div *ngIf="text">
    <ion-list *ngFor="let line of text">
        <ion-item>{{ line }}</ion-item>
    </ion-list>
    <br>
  </div>
  <button ion-button (click)='write()'>message</button>
</ion-content>
